.background-img {
    height: 100vh;
/*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
    background-repeat: no-repeat;
    background-position: center center;
/*    background-attachment: fixed;*/
}
.intro {
    height: 70vh;
}
#intro #intro-text {
    margin-top: 45%;
}
#featured_1 {
    background-image: url(img/featuredimages/1_feature.jpg);
}
#featured_2 {
    background-image: url(img/featuredimages/2_feature.jpg);
}
#featured_3 {
    background-image: url(img/featuredimages/3_feature.jpg);
}
#featured_4 {
    background-image: url(img/featuredimages/4_feature.jpg);
}
#featured_5 {
    background-image: url(img/featuredimages/5_feature.jpg)
}

footer{
    background-color: black;
    color: white;
    margin: 20% 0;
}