.background-img {
    /* make sure the background image's div is the same height as viewport */
    height: 100vh;

    /* make sure the image is stretched out to cover the whole viewport */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* make sure when the viewport resizes to a smaller size, the image is still centered, as opposed to anchored on the upper left corner */
    background-position: center center;

    background-attachment: fixed;
}
.intro {
    height: 70vh;
}
#intro #intro-text {
    margin-top: 45%;
}
#featured_1 {
    background-image: url(img/featuredimages/1_feature.jpg);
}
#featured_2 {
    background-image: url(img/featuredimages/2_feature.jpg);
}
#featured_3 {
    background-image: url(img/featuredimages/3_feature.jpg);
}
#featured_4 {
    background-image: url(img/featuredimages/4_feature.jpg);
}
#featured_5 {
    background-image: url(img/featuredimages/5_feature.jpg)
}

footer{
    background-color: #F5F5F5;
    color: black;
    margin: 20% 0;
}